.input-container {
  display: flex;
  flex-direction: column;

  gap: 0.3rem;
}

.input__label {
  font-weight: bold;
}

.form-field {
  border: 1px solid var(--secondary);
  border-radius: 8px;

  background-color: transparent;

  width: 100%;
  padding: 0.875rem;

  font-size: 1rem;

  color: var(--text);
}

.error {
  border-color: var(--error);
}
