.btn {
  background-color: var(--primary);

  border: 1px solid var(--secondary);
  border-radius: 8px;

  color: var(--text);
  font-weight: bold;

  padding: 1rem;
}

.btn-error {
  border-color: var(--error);
  color: 1px solid var(--error);
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  filter: brightness(0.9);
}

.btn:active:not(:disabled) {
  transform: scale(0.95);
}

.btn:disabled {
  opacity: 40%;
  cursor: not-allowed;
}
